mat-card {
  padding: 0;
  margin: 15px;
}

.form {
  padding: 20px;
}

textarea {
  min-height: 200px;
}

mat-radio-group {
  margin: 10px 0;
}

mat-radio-button {
  margin: 5px;
}

.form-field {
  width: 55px;
}

.form-field-margin {
  margin-left: 15px;
}
